@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #111;
    color: #fff;
    margin: 0;    
    font-family: 'Roboto', sans-serif;
}

.lists {
    margin-top: -150px;
}

footer {
    display: block;
    margin: 50px 0;
    padding: 10px;
    text-align: center;
    background-color: rgb(36, 36, 36);
}

.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}